<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".edit_employee_Activity"
            android:exported="false" />
        <activity
            android:name=".TrangChuChinhActivity"
            android:exported="false" />
        <activity
            android:name=".add_employee_Activity"
            android:exported="false" />
        <activity
            android:name=".thongTinNhanVien"
            android:exported="false" />
        <activity
            android:name=".maXacNhan"
            android:exported="false" />
        <activity
            android:name=".createPassNew"
            android:exported="false" />
        <activity
            android:name=".forgotpassword"
            android:exported="false" />
        <activity
            android:name=".dangNhap"
            android:exported="false" />
        <activity
            android:name=".dangKy"
            android:exported="false" />
        <activity
            android:name=".food.FoodDetailsActivity"
            android:exported="false"
            android:label="Food Details" />
        <activity
            android:name=".food.MenuEditActivity"
            android:exported="false" />
        <activity
            android:name=".food.FoodEditActivity"
            android:exported="false"
            android:label="Edit Food" />
        <activity
            android:name=".food.MenuAddActivity"
            android:exported="false"
            android:label="Add Menu" />
        <activity
            android:name=".food.MenuFood"
            android:exported="true"
            android:label="Menu" />
        <activity
            android:name=".food.FoodAddActivity"
            android:exported="false"
            android:label="Add food" />
        <activity
            android:name=".food.FoodActivity"
            android:exported="true"
            android:label="List Food" />
        <activity
            android:name=".food.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>